    /*01 SECTION PERFIL------------------------------------------------------- */

    /* 1  BOXS DE perfil y Historial --------------------------- */

   /* 1  TARJETA 50% --------------------------- */
    .seccion-card-duo {width: 50%;}

    #section-cliente-perfil ,#section-cliente-dos{
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        /* Distribuye los elementos equitativamente */
        margin: 20px;
        height: auto;
        border-radius: 10px;
        transition:  0.3s ease-in-out;
    }
            /* CAJA 1 tarjeta ------------------------------------------- */ 
            #section-cliente-perfil{background-color: #F0F0F0;}
            
            #section-cliente-perfil:hover{background-color: #e7e7e7;
                box-shadow:4px 4px 8px rgba(0, 0, 0, 0.2);}
            /* CAJA 2 ----------------------------------------- */ 
            #section-cliente-dos{background-color: lightgray;}  
            
            #section-cliente-dos:hover{background-color: rgb(185, 185, 185);;
                        box-shadow:4px 4px 8px rgba(0, 0, 0, 0.2);}  


        
        /* MI PERFIL--------------centra SECCION-CARD DE MI PERFIL EN MEDICO Y PACIENTE */
         #miperfilcliente{margin:auto;}

        /* MI PERFIL---------------------------------------------------------------------- */
                #mi-perfil{
                     /* background-color: orange; */
                        width: 60%;}
                    .perfil-item{
                        padding: 20px 0;}
                    .perfil-item p{margin:2px 0;height: auto;text-align: left;}
                    .perfil-item .izq{margin:2px 0;text-align: right;}
                
                #mi-perfil hr{border: none;
                        height: 1px;
                        background-color: white;
                        margin: 10px 0;}
         
            




#usuario-divs-container {
    display: flex;
    flex-wrap: wrap;
/* justify-content: space-between;  Alinea los elementos con espacio entre ellos */
}
            
            
            
            /* --------------------------- ESTILOS GENERALES --------------------------- */
            body {
                margin: 0;
                padding: 0;
                font-family: "Noto Sans", serif;
                font-optical-sizing: auto;
                font-style: normal;
                background-color: #F0F0F0;
                /* background-color: grey; */
                box-sizing: border-box;
            }

            /* --------------------------- SECTION LOGIN --------------------------- */
            .cliente-bg {
                background-image: url('../img/clienteindex.jpg');
                background-size: cover;
                background-position: center;
                min-height: 100vh;
                display: flex;
                flex-direction: column;
                /* overflow: hidden; */
                background-color: rgba(0, 0, 0, 0.2);
                background-blend-mode: multiply;
            }

            #login {
                flex: 1 1 300px;
                margin: 10px;
                max-width: 400px;
            }

            .login-cliente {
                background-color: white;
                padding: 15px 30px 30px 30px;
                border-radius: 8px;
                text-align: center; /* Texto centrado en la sección login */
                box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1); /* Sombra suave */
                max-width: 400px;
                width: 100%;
                margin: 0 auto;
            }

            .login-cliente h2 {
                margin-bottom: 20px;
                font-size: 24px;
                color: #333; /* Color de texto oscuro */
                font-family: Arial, Helvetica, sans-serif;
            }

            .login-cliente form {
                display: flex;
                flex-direction: column;
                gap: 15px; /* Espacio entre elementos */
            }

            .login-cliente label {
                margin-bottom: 5px;
                text-align: left; /* Alinea el texto a la izquierda */
            }

            .login-cliente input,
            .login-cliente select {
                padding: 8px;
                border-radius: 20px;
                border: 1px solid #ccc; /* Borde gris */
                font-size: 14px;
                width: 100%;
                box-sizing: border-box; /* Incluye el padding en el ancho */
            }

            .login-cliente input:focus,
            .login-cliente select:focus {
                border-color: #00669C;
                outline: none; /* Elimina el outline por defecto */
            }

            .login-cliente button.inicio-sesion {
                padding: 12px;
                border-radius: 20px;
                border: none;
                background-color: #00669C;
                color: white;
                cursor: pointer;
                font-size: 16px;
                font-weight: bold;
                width: 200px; /* Ancho fijo */
                height: 36px; /* Alto fijo de 36px */
                display: flex;
                align-items: center;
                justify-content: center;
                margin: 0 auto; /* Centra el botón */
                transition: background-color 0.3s ease, color 0.3s ease; /* Transición suave */
            }

            .login-cliente button.inicio-sesion:hover {
                background-color: #004d76; /* Color más oscuro al hacer hover */
                color: #84CBF1;
            }


/* --------------------------- HEADER --------------------------- */
#header {
    display: flex;
    justify-content: center; /* Centra el contenido del header */
    align-items: center;

    padding: 10px 0 ; /* derecha e izq 20px*/
    border-bottom: 1px solid white; 
    background-color: transparent; 
    flex-shrink: 0; /* Evita que el header se encoja */

    height: 60px;
    width: 100%; 

}
.nav{width: 100%;}
.nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;

    justify-content: space-between; /* Distribuye el espacio entre los elementos */
    width: 100%; 
    max-width: 100%; /* Sin límite de ancho */
}

.nav ul li {
    flex: 1; /* Hace que los <li> ocupen el espacio disponible */
    text-align: center; /* Centra el texto dentro de cada <li> */
    margin: 0 10px; /* Margen horizontal entre los <li> */
}

#header .nav ul li a {
    color: white; /* COLOR TEXTO enlaces */
    text-decoration: none;
    font-size: 16px; /* TAMAÑO FUENTE */
    transition: color 0.3s ease; /*TANSICION el hover */
}

#header .nav ul li a:hover {
    color: #00669C; /*CAMBIA COLOR hover */
}

/* --------------------------- MAIN --------------------------- */
#main {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    flex: 1; /* Ocupa el espacio restante */
    padding: 20px 0;
    height: calc(100vh - 80px - 60px); /* Ajusta el alto restando el header y footer */
    box-sizing: border-box; /* Incluye el padding en el cálculo del alto */
}

/* --------------------------- SECTION INFO --------------------------- */
#info {
    flex: 1 1 300px;
    margin: 10px;
    max-width: 400px;
}

.info-box {
    color: white;
    padding: 20px;
    border-radius: 5px;
    text-align: left; /*IZQ */
}

.info-logo img.logo-img {
    max-width: 200px; /* AND IMG */
    max-height: 100px; /* ALT IMG */
    margin-bottom: 20px; /* margin inferior */
}

.info-text p {
    margin-bottom: 10px;
    font-weight: 400; /* TIPO */
    color: white;
}

.info-text a {
    color: #84CBF1; /* ---- COLOR ORGNAL*/
    text-decoration: none;
    
}

.info-text a:hover {
    color: #84CBF1; /* Color más oscuro al hacer hover */
    text-decoration: underline;
}


/* --------------------------- FOOTER --------------------------- */
#footer {
    text-align: center;
    padding: 10px 0; /* Margen vertical y horizontal */
    background-color: white;
    width: 100%;
    flex-shrink: 0; /* Evita que el footer se encoja */
   
}

#footer ul {
    list-style: none;
    padding: 0;
    margin: 0 auto; /* Centra el contenedor */
    display: flex;
    justify-content: space-between; /* Distribuye el espacio entre los elementos */
    max-width: 100%; /* Ocupa todo el ancho disponible */
    width: 100%; 
    flex-wrap: wrap; /* Permite que los <li> se envuelvan en móvil y tablet */
}

#footer ul li {
    margin: 0; /* Elimina el margen horizontal entre los <li> */
    flex: 1 1 auto; /* Hace que los <li> ocupen el espacio disponible */
    text-align: center; 
    min-width: 100px; /* Ancho mínimo para evitar que los <li> sean demasiado pequeños */
    white-space: nowrap; /* Evita que el texto se divida en varias líneas */
}

#footer ul li a {
    color: black;
    text-decoration: none;
    transition: color 0.3s ease; /* TRANSICION hover */
    display: block; /* Hace que el enlace ocupe todo el espacio del <li> */
}

#footer ul li a:hover {
    color: #00669C; 
    text-decoration: none; 
}
            /* --------------------------- FOOTER-DOS --------------------------- */
            #footer-dos {
                text-align: center;
                padding: 10px 0px; 
                background-color: #F0F0F0; /* Fondo azul claro */
                width: 100%;
                flex-shrink: 0; /* Evita que el footer se encoja */
            }

            #footer-dos ul {
                list-style: none;
                padding: 0;
                margin: 0 auto; /* Centra el contenedor */
                display: flex;
                justify-content: space-between; /* Distribuye el espacio entre los elementos */
                max-width: 100%; /* Ocupa todo el ancho disponible */
                width: 100%;
                flex-wrap: wrap; /* Permite que los <li> se envuelvan en móvil y tablet */
            }

            #footer-dos ul li {
                margin: 0; /* Elimina el margen horizontal entre los <li> */
                flex: 1 1 auto; /* Hace que los <li> ocupen el espacio disponible */
                text-align: center;
                min-width: 100px; /* Ancho mínimo para evitar que los <li> sean demasiado pequeños */
                white-space: nowrap; /* Evita que el texto se divida en varias líneas */
            }

            #footer-dos ul li a {
                color: black;
                text-decoration: none;
                transition: color 0.3s ease; /* TRANSICION hover */
                display: block; /* Hace que el enlace ocupe todo el espacio del <li> */
            }

            #footer-dos ul li a:hover {
                color: #00669C;
                text-decoration: none;
            }    







            
/* --------------------------- ESTILOS PARA EL ENLACE VOLVER --------------------------- */
.volver-link {
    color: #84CBF1; /* Color azul claro */
    font-family: Arial, Helvetica, sans-serif; /* Fuente Arial */
    font-weight: bold;
    text-decoration: none; 

    display: block; /* Hace que el enlace ocupe toda la línea */
    text-align: left; 
    transition: color 0.3s ease; /* Transición suave hover */
}

.volver-link:hover {
    color: #00669C; /* Color azul oscuro al hacer hover */
}
/* --------------------------- ESTILOS PARA EL ENLACE VOLVER --------------------------- */
.volver-link-dos {
    color: #84CBF1; /* Color azul claro */
    font-family: Arial, Helvetica, sans-serif; /* Fuente Arial */
    font-weight: bold; 
    text-decoration: none; 

    display: block; /* Hace que el enlace ocupe toda la línea */
    text-align: left; 

    transition: color 0.3s ease; /* Transición suave para el hover */
}

.volver-link-dos:hover {
    color: white; /* Color azul oscuro al hacer hover */
}
/* --------------------------- LÍNEA SEPARADORA gris --------------------------- */
.lseparadora {
    height: 1px;
    background-color: #ccc; /* Color de la línea */
    margin: 20px 0;
    width: 100%; /* Ancho completo */
}
/* --------------------------- LÍNEA SEPARADORA BLANCA --------------------------- */
.lseparadora-blanca {
    height: 1px;
    background-color: #84CBF1; /* Color de la línea */
    margin: 20px 0;
    width: 100%; /* Ancho completo */

}

















/* --------------------------- RESPONSIVE --------------------------- */
/* MAX WIDTH 1270PX----------------------------------------------------------------------------*/
@media screen and (max-width: 1270px) {

    .seccion-card-duo{width :100%; }
}




/* TABLET------------------------- */
@media (max-width: 768px) {

    body {
        overflow: auto; /* Permite el scroll en móvil */
    }

    #main {
        height: auto; /* El contenido puede crecer en móvil */
        padding: 10px 0;
    }

    #login, #info {
        flex: 1 1 auto;
        max-width: 100%;
        margin: 10px auto;
    }

    .login-medico {
        padding: 20px;
        max-width: 90%; /* Reduce el ancho en móviles */
    }

    .login-medico h2 {
        font-size: 20px;
    }

    .login-medico input {
        font-size: 14px;
    }

    .login-medico button {
        font-size: 14px;
    }

    .login-medico p {
        font-size: 12px;
    }

    .info-text p {
        font-size: 14px;
    }

    #footer ul {
        justify-content: center; /* Centra los elementos en tablet */
    }

    #footer ul li {
        flex: 1 1 50%; /* Dos elementos por fila e */
        white-space: normal; /* Permite que el texto se divida en varias líneas si es necesario */
        margin: 5px 0; /* Espaciado entre elementos */
    }

            #footer-dos ul {
                justify-content: center; /* Centra los elementos en tablet */
            }

            #footer-dos ul li {
                flex: 1 1 50%; /* Dos elementos por fila */
                white-space: normal; /* Permite que el texto se divida en varias líneas si es necesario */
                margin: 5px 0; /* Espaciado entre elementos */
            }
}

/* MOVIL------------------------- */
@media (max-width: 480px) {

    #footer ul {
        flex-direction: column; /* Coloca los elementos en una columna */
        align-items: center; /* Centra horizontalmente */
    }

    #footer ul li {
        flex: 1 1 100%; /* Un elemento por fila  */
        margin: 5px 0; 
    }

            #footer-dos ul {
                flex-direction: column; /* Coloca los elementos en una columna */
                align-items: center; /* Centra horizontalmente */
            }

            #footer-dos ul li {
                flex: 1 1 100%; /* Un elemento por fila */
                margin: 5px 0;
            }

#info{margin: auto;}
}

/* COLORES: 
color: #555; 
color: #ccc;
color: black; 

color: #84CBF1; ---- AZUL CLARO
color: #00669C; ----- AZUL OSCURO
color:white;
*/